p {
  color: rgb(0, 0, 0);
}

body {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
background-color: rgb(118, 0, 0);
}

h1 {
  color: rgb(55, 5, 5);
  background-color: rgb(127, 11, 11);
border-radius: 15PX;
}

#lafDiv{
  background-color: rgb(112, 10, 10);
border-radius: 15PX;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(95, 86, 86);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #9d1c1c;
}

.active {
  background-color: #454545;
}